{% extends 'app/dashboard/base.html' %} {% load static %}
<!--  -->
{% block content %}

<main>
  <div class="container">
    <section
      class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4"
    >
      <div class="container">
        <div class="row justify-content-center">
          <div
            class="col-lg-8 col-md-8 d-flex flex-column align-items-center justify-content-center"
          >
            <!-- End Logo -->

            <div class="card mb-3">
              <div class="card-body">
                <div class="pt-4 pb-2">
                  <a href="{% url 'grades' %}" class="btn btn-primary">
                    <i
                      class="bi bi-arrow-left-circle-fill"
                      style="font-size: 1.4rem"
                    ></i
                    >&nbsp; Back
                  </a>

                  <h5 class="card-title text-center pb-0 fs-4">
                    Add New Grade
                  </h5>
                  <p class="text-center small">
                    Enter your personal details to add a new Grade
                  </p>
                </div>

                <form
                  class="row g-3 needs-validation"
                  novalidate
                  method="post"
                  enctype="multipart/form-data"
                >
                  {% csrf_token %}
                  <!--  -->
                  {% for form in forms %}
                  <div class="col-12">
                    <label for="yourName" class="form-label"
                      >{{form.label}}</label
                    >
                    {{form}}

                    <div class="invalid-feedback">
                      Please, enter your {{form.label}}!
                    </div>
                  </div>
                  {% endfor %}
                  <!--  -->

                  <div class="col-12">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        name="terms"
                        type="checkbox"
                        value=""
                        id="acceptTerms"
                        required
                      />
                      <label class="form-check-label" for="acceptTerms"
                        >I agree to my action
                      </label>
                      <div class="invalid-feedback">
                        You must agree before submitting.
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <button class="btn btn-primary w-100" type="submit">
                      Submit
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>

{% endblock %}
<!-- End #main -->
